@font-face {

    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/Source Sans Pro/SourceSansPro-Black.ttf");
}

body {
    background-color: #374151;
    padding: 0px 181px 0px 180px;
    box-sizing: border-box;

}

* {
    margin: 0px;
    padding: 0px;
}

/* ---------------------------flex---------------------------------- */
.sait {
    width: 1080px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 71px;
    display: flex;

}

.logo-blog {
    align-self: center;
    flex-shrink: 0;

}

nav {
    flex-basis: 730px;
    align-self: center;
}

ul {
    display: flex;

}

ul li:nth-child(1) {
    flex-basis: 165px;
    text-align: end;

}

ul li:nth-child(2) {
    flex-basis: 119px;
    text-align: end;
}

ul li:nth-child(3) {
    flex-basis: 101px;
    text-align: end;
}

input {
    flex-basis: 224px;
    height: 40px;
}

/* ---------------------------flex---------------------------------- */
main {
    margin-top: 69px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Roboto";
}

li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}

input {
    border-radius: 100px;
    background-color: #1F293799;
    opacity: 60%;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #FFFFFF;
    padding-left: 49px;
}

input[type='text'] {
    background-image: url(search.png);
    background-position: 18px;
    background-repeat: no-repeat;
}

.logo {
    padding: 6px 12px;
    margin: 0px 11px 0px 0px;
    border-radius: 3px;
    background-color: #4B5563;
    font-family: "Source Sans Pro";
    color: #FFFFFF;
}

.my-blog {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}

.sub_date {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 14px;
}

h1 {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.autor {
    margin-bottom: 28px;

    display: flex;
    justify-content: center;
    /* width: 214px; */
    /* justify-content: center; */
    height: 53px;
}

img[alt="face"] {
    flex-basis: 50px;
    height: 50px;
    /* margin-left: 16px; */
}

.autor div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 16px;

}

.autor :nth-child(1) {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.autor div p:nth-child(2) {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 60%;
}

main {}

.blog {
    font-family: "Roboto";
    font-weight: 400;
    color: #FFFFFF;
    width: 708px;
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}

img[alt="Mac"] {
    margin-bottom: 69px;
    width: 896px;
    height: 594px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}

.blog p:nth-child(1) {
    font-size: 20px;
    line-height: 32px;

}

.blog p:not(:nth-child(1)) {
    font-size: 16px;
    line-height: 30px;
    margin-top: 39px;
}

footer {
    margin-top: 103px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    opacity: 60%;
    color: #FFFFFF;
}